In [23]:
import pandas as pd
import numpy as np
from transformers import AutoTokenizer, AutoModelForSequenceClassification,TrainingArguments
import evaluate
from sklearn.model_selection import train_test_split

In [28]:
data = pd.read_csv('../data/raw/reviews.csv')
# Drop time column
data_wo_time =  data.drop(columns = ["Time"], axis = 1)
data_wo_time.loc[:,"Sentiment"].replace({'positive':1, 'negative':0}, inplace = True)

In [29]:
# train test split
train_data , test_data, train_labels, test_labels = train_test_split(data_wo_time.drop('Sentiment', axis = 1),
                                                                     data_wo_time["Sentiment"],
                                                                     test_size = 0.3,
                                                                     random_state = 4263)

In [32]:
display(train_data)
display(test_data)

                                                   Text
2556  This product is so perfect for flavored iced t...
1377  I mix this seasoning with Hunts BBQ sauce and ...
706   I tried many teas and thought would try this k...
77    I was very satisfied with my purchase of Nutiv...
3448  My dog is crazy over this food.  Usually very ...
...                                                 ...
3662  I especially like like this on <a href="http:/...
2158  This espresso has a very smooth coffee taste. ...
5099  What's in this stuff?  Where's the list of ing...
14    I have a free sampling of these chips and I ca...
1787  Like the chocolate, hard to find the other fla...

[3810 rows x 1 columns]

                                                   Text
2467  They crumble easily and I can use water from m...
432   This is a great mix. I mixed it with milk inst...
2824  This illy issimo "italian espresso style coffe...
4758  Used it a couple of times over the course of a...
22    We'll see how these work out in our family ove...
...                                                 ...
1368  I ordered this delicious Kadayif dessert for m...
4386  Not the best canned mushrooms on Earth, but th...
1128  I love this stuff.  It's like the Sencha shot,...
3887  Very good product, the $4.00 increase did less...
4578  I have had the herb pods for about 6 months.  ...

[1634 rows x 1 columns]

In [34]:
tokenizer = AutoTokenizer.from_pretrained("bert-base-cased")
def tokenize_function(examples):
    return tokenizer(examples["Text"], padding="max_length", truncation=True)

tokenized_datasets = train_data["Text"].map(tokenize_function, batched=True)

TypeError: Series.map() got an unexpected keyword argument 'batched'